accelerate
aiofiles
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy
#cchardet==2.1.7
faust-cchardet
certifi
cffi
chardet
charset-normalizer
click
comm
cryptography
dataclasses-json
debugpy
decorator
defusedxml
docx
docx2txt
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
frozenlist
fsspec
googletrans
h11
h2
#hopfield-layers @ git+https://github.com/ml-jku/hopfield-layers

hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
langchain
langsmith
llama-index == 0.10.30
llama-index-embeddings-huggingface
llama_index.embeddings.langchain
lxml
MarkupSafe
marshmallow
matplotlib-inline
mistune
mpmath
multidict
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openai
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyOpenSSL
PyQt5-sip
pyrsistent
PySocks
python-dateutil
python-docx
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
rfc3339-validator
rfc3986
rfc3986-validator
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
sip
six
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client 
widgetsnbextension 
wikipedia
Wikipedia-API
y-py 
yarl
ypy-websocket
zipp